html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

#bradContainer {
  font-family: sans-serif;
  position: relative;
  background: #00a650;
  width: 300px;
  height: 250px;
  border: 1px solid #00a650;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=0);
  /* Modern Browsers */
  opacity: 0; }
  #bradContainer #bradContent {
    cursor: pointer;
    width: 100%;
    height: 100%; }
    #bradContainer #bradContent #bradBackground {
      width: 300px;
      height: 250px;
      position: absolute;
      left: 0px;
      top: 0px;
      background-image: url(../img/bg.jpg); }
    #bradContainer #bradContent #grnBackground {
      width: 300px;
      height: 250px;
      position: absolute;
      left: 0px;
      top: 0px;
      background: #00a650; }
    #bradContainer #bradContent #t1, #bradContainer #bradContent #t2, #bradContainer #bradContent #t3, #bradContainer #bradContent #wt {
      position: absolute;
      left: 0px;
      top: 0px; }
    #bradContainer #bradContent #t1 {
      width: 300px;
      height: 250px;
      background-image: url(../img/t1.png); }
    #bradContainer #bradContent #t2 {
      width: 300px;
      height: 250px;
      background-image: url(../img/t2.png); }
    #bradContainer #bradContent #t3 {
      width: 300px;
      height: 250px;
      background-image: url(../img/t3.png); }
    #bradContainer #bradContent #wt {
      left: 20px;
      top: 83px;
      width: 254px;
      height: 96px;
      background-image: url(../img/wt.png); }
    #bradContainer #bradContent #t4 {
      position: absolute;
      left: 12px;
      top: 35px;
      width: 87px;
      height: 13px;
      background-image: url(../img/t4.png); }
    #bradContainer #bradContent #t5 {
      position: absolute;
      left: 12px;
      top: 70px;
      width: 138px;
      height: 50px;
      background-image: url(../img/t5.png); }
    #bradContainer #bradContent #t6 {
      position: absolute;
      left: 12px;
      top: 127px;
      width: 143px;
      height: 56px;
      background-image: url(../img/t6.png); }
    #bradContainer #bradContent #d1 {
      position: absolute;
      left: 30px;
      top: 0px;
      width: 207px;
      height: 193px;
      background-image: url(../img/d1.png); }
    #bradContainer #bradContent #d2 {
      position: absolute;
      left: 230px;
      top: 55px;
      width: 157px;
      height: 206px;
      background-image: url(../img/d2.png); }
    #bradContainer #bradContent #bradFooter {
      background: #fff;
      width: 300px;
      height: 48px;
      position: absolute;
      top: 202px; }
      #bradContainer #bradContent #bradFooter #bradLogo {
        background-image: url(../img/logo.png);
        position: absolute;
        top: 14px;
        left: 205px;
        width: 80px;
        height: 20px; }
      #bradContainer #bradContent #bradFooter #bradCtaButton {
        background: #fa7700;
        position: absolute;
        top: 14px;
        left: 15px;
        width: 80px;
        height: 20px; }
        #bradContainer #bradContent #bradFooter #bradCtaButton #bradCtaTxt {
          background-image: url(../img/ctat.png);
          position: absolute;
          top: 5px;
          left: 7px;
          width: 65px;
          height: 9px; }

button {
  padding: 10px;
  margin-top: 10px; }

button:nth-child(1) {
  margin-left: 10px; }

#slider {
  width: 300px;
  margin: 10px;
  background-color: #ff0; }
